<nav class="main-nav">
    <a href="/">
        <img src="https://acbtwffwdoxzwlfgpisu.supabase.co/storage/v1/object/public/projects/tempsy/images/icons/icon-48x48.png"
             alt="Tempsy Icon" width="48" height="48" >
    </a>
    <button id="btn-theme-changer" title="Click to change theme">

    </button>
    <menu id="nav-menu">
    {{ with .user }}
        <a href="/dashboard/{{.UserName}}">Dashboard</a>
        <a href="/dashboard/{{.UserName}}/profile">Profile</a>
        <a href="https://github.com/afifurrohman-id/tempsy" target="_blank">Source  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
        </svg></a>
        <a href="/auth/logout">Logout <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg></a>

    {{end}}
    </menu>
    {{ if $.user }}
    {{ with .user }}
    <button id="btn-user-toggle-menu">
        <img src="{{.Picture}}" alt="{{.UserName}} Picture" title="Click to open menu" referrerpolicy="no-referrer" >
    </button>
    {{end}}
    {{ else }}
    <a href="/auth/login" class="btn-login">Login</a>
    {{ end }}
</nav>
