@import "../utils/theme.css";

body.dark .main-nav {
    background-color: var(--dark-color);
}

.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    background-color: white;
}

body.dark #nav-menu {
    background-color: var(--dark-color);
}

#nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    right: 10px;
    top: 3.8em;
    padding: 1.5em;
    gap: 1em;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.2), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

body.dark #nav-menu {
    box-shadow: 0 10px 15px -3px rgb(250 250 250 / 0.2), 0 4px 6px -4px rgb(250 250 250 / 0.1);
}

#nav-menu a {
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: inherit;
}

#nav-menu a.active {
    color: orange;
}

#nav-menu a:last-child {
    color: red;
}

#nav-menu.open {
    display: flex;
}

#btn-user-toggle-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;

}

#btn-user-toggle-menu img {
    width: 50%;
    border-radius: 99em;
}

.btn-login {
    color: inherit;
    border: 1px solid rgb(128, 128, 128);
    border-radius: 9em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 1em;
    height: max-content;
    font-size: 1rem;
}